* {
	box-sizing: border-box;
}

button, .button {
	display: inline-flex;
	gap: 5px;
	justify-content: center;
	align-items: center;

	padding: 8px 12px;
	border: 0;
	outline: none;
	font-size: 1rem;

	--bg: #efeff2;
	--bg-focus: #e8e8eb;
	--bg-active: #e1e1e3;

	border-radius: 4px;
	cursor: pointer;

	color: var(--color);
	background: var(--bg);

	transition: .15s;
	transition-property: color, background-color;

	&:hover,
	&:focus-visible {
		background: var(--bg-focus);
	}

	&:active {
		background: var(--bg-active);
	}

	/* 用于内容只有一个图标的按钮 */
	&.icon {
		padding: 8px;
	}

	& > svg {
		font-size: var(--icon-size, 24px);
	}
}

.primary {
	--color: white;
	--bg: #0061e0;
	--bg-focus: #0066eb;
	--bg-active: #005ac7;
}

.warning {
	--color: white;
	--bg: #f04d4d;
	--bg-focus: #f55656;
	--bg-active: #e64040;
}

.plain {
	background: none;
	--bg: none;
	--bg-focus: rgba(0, 0, 0, 0.04);
	--bg-active: rgba(0, 0, 0, 0.06);
}
