* {
	box-sizing: border-box;
}

button, .button {
	display: inline-flex;
	gap: 5px;
	justify-content: center;
	align-items: center;

	padding: 8px 12px;
	border: 0;
	outline: none;
	font-size: 1rem;

	--bg: #efeff2;
	--bg-focus: #e7e7e9;
	--bg-active: #e1e1e3;

	@media (prefers-color-scheme: dark) {
		--bg: #555;
		--bg-focus: #5e5e5e;
		--bg-active: #525252;
	}

	border-radius: 4px;
	cursor: pointer;

	color: var(--color);
	background: var(--bg);

	transition: .15s;
	transition-property: color, background-color;

	&:hover,
	&:focus-visible {
		background: var(--bg-focus);
	}

	&:active {
		background: var(--bg-active);
	}

	/* 用于内容只有一个图标的按钮 */
	&.icon {
		padding: 8px;
	}

	& > svg {
		font-size: var(--icon-size, 24px);
	}
}

input {
	color: var(--color-text);
	background: var(--color-text-background);
}

.primary {
	--color: white;
	--bg: #0566e6;
	--bg-focus: #0e70f0;
	--bg-active: #0462d4;
}

.warning {
	--color: white;
	--bg: #de4747;
	--bg-focus: #eb5252;
	--bg-active: #d93d3d;
}

.plain {
	background: none;
	--bg: none;
	--bg-focus: rgba(186, 186, 186, 0.18);
	--bg-active: rgba(186, 186, 186, 0.24);
}
