@import "/global.css";

$edit-dash-width: 4px;
$edit-padding: 14px;
$shortcut-width: 120px;
$top-margin: 32px;
$section-margin: 48px;

:root {
	--search-box-width: 720px;
	--row-size: 8;
	--shortcut-icon-size: 48px;
	--panel-radius: 8px;
	--widget-radius: 4px;

	--color-text: #2b2b2b;
	--color-placeholder: #818184;

	--color-bg-1: #f9f9fb;
	--color-bg-2: white;
	--color-bg-2t: white;
	--color-bg-3: white;
	--color-split-line: #ccc;

	--block-focus-shadow: 0 0 0 3px #2ea8ff;
}

/* Properties in HTML can be inherited by ShadowDOM, body cannot */
html {
	color: var(--color-text);

	/* noinspection CssInvalidPropertyValue */
	image-rendering: -webkit-optimize-contrast;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-placeholder: #929292;
		--color-text: #eee;

		--color-bg-1: #2b2b2b;
		--color-bg-2: #3b3b3b;
		--color-bg-2t: #404040;
		--color-bg-3: #505050;
		--color-split-line: #686868;

		--block-focus-shadow: 0 0 0 3px #31a0ef;
	}
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;
	margin: 0;
	min-height: 100vh;

	font-size: 1rem; /* For Edge */
	font-family: arial, sans-serif;
	background: var(--color-bg-1);

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;

		border: dashed $edit-dash-width transparent;
		transition: .15s;
		pointer-events: none;
	}

	&.editing::before {
		left: $edit-padding;
		top: $edit-padding;
		bottom: $edit-padding;
		right: $edit-padding;
		border-color: #b3b3b3;
	}
}

engine-select {
	margin-top: $top-margin;

	/* Avoid layout shifting on page load */
	min-height: 48px;
}

#v-center {
	$top: ($section-margin + $top-margin + 48px);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: $section-margin 0;
	min-height: calc(100vh - $top * 2);
}

search-box {
	width: var(--search-box-width);
}

#shortcuts {
	display: grid;
	max-width: calc(var(--row-size) * $shortcut-width);
	margin-top: $section-margin;
	grid-template-columns: repeat(auto-fit, $shortcut-width);
}

#add-shortcut {
	--icon-size: 36px;

	display: none;
	margin: 20px 20px 40px;
	height: 80px;
	border-radius: 6px;

	.editing & {
		display: block;
	}
}

label {
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-size: 0.875rem;
}

input[type="number"] {
	width: 120px;
}

.settings {
	position: absolute;
	top: $top-margin;
	right: $top-margin;
}

#menu {
	position: fixed;
	margin: 0 0 0 auto;
	height: 100vh;
	border: none;
	overflow-y: auto;

	color: inherit;
	background: var(--color-bg-2);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.menu-group {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 1fr;
}
