@import "/global.css";

$edit-padding: 15px;

:root {
	--panel-radius: 8px;
	--widget-radius: 4px;
}

/* html 里的属性能被 ShadowDOM 继承 */
html {
	color: #333;
	background: #f9f9fb;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
	margin: 0;
	min-height: 100vh;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;

		border: dashed 4px transparent;
		transition: .15s;
		pointer-events: none;
	}

	&.editing::after {
		left: $edit-padding;
		top: $edit-padding;
		bottom: $edit-padding;
		right: $edit-padding;
		border-color: #b3b3b3;
	}
}

main {
	margin: auto;
}

search-box {
	width: 720px;
	margin: 0 auto;
}

#bookmarks {
	margin-top: 48px;
}

#setting {
	display: flex;
	flex-direction: column;
	gap: 10px;

	position: absolute;
	top: calc($edit-padding * 2);
	right: calc($edit-padding * 2);
	z-index: 10;
}
