@import "/global.css";

$edi-padding: 15px;

html {
	color: #333;
	background: #f9f9fb;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
	margin: 0;
	min-height: 100vh;
}

body::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;

	border: dashed 4px transparent;
	transition: .15s;
	pointer-events: none;
}

body.editing::after {
	left: $edi-padding;
	top: $edi-padding;
	bottom: $edi-padding;
	right: $edi-padding;
	border-color: #b3b3b3;
}

main {
	margin: auto;
}

#bookmarks {
	margin-top: 48px;
}

#setting {
	display: flex;
	flex-direction: column;
	gap: 10px;

	position: absolute;
	top: calc($edi-padding * 2);
	right: calc($edi-padding * 2);
	z-index: 10;
}
