@import "/global.css";

:host {
	display: inline-block;

	position: relative;
	padding: 20px 20px 12px 20px;
	cursor: pointer;
	border-radius: 6px;
}

:host(:hover) {
	background: rgba(0, 0, 0, 0.05);
}

a {
	display: inline-flex;
	flex-direction: column;
	align-items: center;

	color: inherit;
	text-decoration: none;
}

#icon-box {
	padding: 16px;
	border-radius: $panel-radius;
	background: white;
	box-shadow: 0 3px 8px rgba(9, 32, 77, 0.12), 0 0 2px rgba(29, 17, 51, 0.2);
}

#favicon {
	display: block;
	width: 48px;
	height: 48px;
}

#label {
	margin-top: 5px;
	font-size: 0.875em;
}

button {
	--icon-size: 22px;

	position: absolute;
	top: -15px;
	padding: 4px;

	opacity: 0;
	border: solid 1px #777;
	border-radius: 100%;
	background: white;
}

:host(:hover) > button {
	opacity: 1;
}

#edit {
	right: 30px
}

#remove {
	right: -15px;
	color: red;
}
