@import "/global.css";

:host {
	display: inline-block;

	position: relative;
	padding: 20px 20px 12px 20px;
	border-radius: 6px;
	transition: background-color .15s;
}

:host(:hover) {
	background: rgba(0, 0, 0, 0.05);
}

a {
	display: block;

	width: 80px;
	color: inherit;
	text-decoration: none;
}

#icon-box {
	padding: 16px;
	border-radius: var(--panel-radius);
	background: white;
	box-shadow: 0 3px 8px rgba(9, 32, 77, 0.12), 0 0 2px rgba(29, 17, 51, 0.2);
}

#favicon {
	display: block;
	width: 48px;
	height: 48px;
}

#label {
	display: block;
	margin-top: 5px;
	font-size: 15px;
	text-align: center;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.blank #favicon,
.blank > #label {
	visibility: hidden;
}

button {
	--icon-size: 22px;

	display: none;
	position: absolute;
	top: -15px;
	padding: 4px;

	border: solid 1px #a0a0a0;
	border-radius: 100%;
	opacity: 0;
	background: white;
	transform: scale(0.5);

	:host(.editable) > & {
		display: inline-flex;
	}

	:host(:hover) > & {
		opacity: 1;
		transform: scale(1);
	}
}

#edit {
	right: 20px
}

#remove {
	right: -15px;
	color: red;
	border-color: red;
}
