@import "/global.css";

:host {
	position: relative;
	padding: 20px 16px 12px 16px;
	border-radius: 6px;
	transition: background-color .15s;
}

:host(:hover) {
	background: rgba(150, 150, 150, 0.13);
}

/* Anchor has built-in drag effect, don't set the display to contents */
a {
	display: block;
	color: inherit;
	outline: none;
	text-decoration: none;
}

.shortcut-icon {
	margin: 0 4px;

	a:focus-visible > & {
		box-shadow: var(--block-focus-shadow);
	}
}

#favicon {
	display: block;
	width: var(--shortcut-icon-size);
	height: var(--shortcut-icon-size);
	border-radius: 4px;
}

#label {
	display: block;
	margin-top: 8px;
	font-size: 14px;
	text-align: center;
}

.blank #favicon,
.blank > #label {
	visibility: hidden;
}

button {
	--icon-size: 22px;

	display: none;
	position: absolute;
	top: -15px;
	padding: 4px;

	border-radius: 50%;
	opacity: 0;
	color: inherit;
	background: #dbdbdb;

	@media (prefers-color-scheme: dark) {
		color: white;
		background: #505050;
	}

	:host(.editable) > & {
		display: inline-flex;
	}

	:host(:hover) > &,
	:host(:focus-within) > & {
		opacity: 1;
	}
}

#edit {
	right: 20px;

	&:is(:hover, :focus-visible) {
		color: white;
		background: #0e6be6;
	}
}

#remove {
	right: -15px;

	&:is(:hover, :focus-visible) {
		color: white;
		background: #de4747;
	}
}
