@import "/global.css";

:host {
	display: inline-block;

	position: relative;
	padding: 20px 16px 12px 16px;
	border-radius: 6px;
	transition: background-color .15s;
}

:host(:hover) {
	background: rgba(150, 150, 150, 0.13);
}

a {
	display: block;
	color: inherit;
	outline: none;
	text-decoration: none;
}

/* 要实现图片和外框不同圆角，只能多套一层 */
#icon-box {
	margin: 0 4px;
	padding: 16px;

	border-radius: var(--panel-radius);
	background: var(--color-bg-3);
	box-shadow: 0 3px 8px rgba(9, 32, 77, 0.12), 0 0 2px rgba(29, 17, 51, 0.2);

	a:focus-visible > & {
		box-shadow: var(--block-focus-shadow);
	}
}

#favicon {
	display: block;
	width: var(--shortcut-icon-size);
	height: var(--shortcut-icon-size);
	border-radius: 4px;
}

#label {
	display: block;
	margin-top: 8px;
	font-size: 15px;
	text-align: center;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.blank #favicon,
.blank > #label {
	visibility: hidden;
}

button {
	--icon-size: 22px;

	display: none;
	position: absolute;
	top: -15px;
	padding: 4px;

	border-radius: 50%;
	opacity: 0;
	color: inherit;
	background: #dbdbdb;

	@media (prefers-color-scheme: dark) {
		color: white;
		background: #505050;
	}

	:host(.editable) > & {
		display: inline-flex;
	}

	:host(:hover) > &,
	:host(:focus-within) > & {
		opacity: 1;
	}
}

#edit {
	right: 20px;

	&:hover {
		color: white;
		background: #0e6be6;
	}
}

#remove {
	right: -15px;

	&:hover {
		color: white;
		background: #de4747;
	}
}
