:host {
	cursor: pointer;
	outline: none;
}

:host(:focus-visible) {
	box-shadow: var(--block-focus-shadow);
}

/*
 * Provide style for the icon.
 */
div {
	display: contents;
	color: #777;
	font-size: 24px;

	:host([checked]) > & {
		color: #0096fa;
	}
}

svg {
	vertical-align: middle;
}

span {
	margin-left: 4px;
	cursor: inherit;
	vertical-align: middle;
}
