/*
 * 暂时无法做聚焦高亮：
 * 1）delegatesFocus 不支持 focus-visible。
 * 2）没有 focus-visible-within 这个伪类。
 *
 * https://github.com/WICG/focus-visible/issues/151
 */
:host {
	position: relative;
	cursor: pointer;
}

#input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

/*
 * 因为没有将元素替换为 HTML 的 API，所以用个 div 包裹了图标
 * 以便使用 innerHTML，该元素设为 contents 不影响布局。
 */
#icon {
	display: contents;
	color: #777;
	font-size: 24px;

	#input:checked + & {
		color: #0096fa;
	}
}

svg {
	vertical-align: middle;
}

label {
	/* 标签自带鼠标设置，得改一下 */
	cursor: pointer;

	margin-left: 4px;
	vertical-align: middle;
}
