/*
 * Unable to add focus highlighting using CSS only:
 *
 * 1）delegatesFocus doesn't work with focus-visible.
 * 2）No :focus-visible-within pseudo-class.
 * https://github.com/WICG/focus-visible/issues/151
 *
 * 3) :host(:has(:focus-visible)) does not work.
 * https://github.com/w3c/csswg-drafts/issues/7953
 */
:host {
	position: relative;
	cursor: pointer;
}

#input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

/*
 * Provide style for the icon.
 */
#icon {
	display: contents;
	color: #777;
	font-size: 24px;

	#input:checked + & {
		color: #0096fa;
	}
}

svg {
	vertical-align: middle;
}

label {
	margin-left: 4px;
	cursor: inherit;
	vertical-align: middle;
}
