@import "/global.css";

dialog {
	position: relative;
	padding: 0;
	overflow: hidden;

	background: white;
	box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.2);
	border: none;
	border-radius: var(--panel-radius);

	&::backdrop {
		backdrop-filter: blur(2px);
	}
}

h1 {
	margin: 0;
	padding: 10px 20px;
	font-size: 1.4rem;
	font-weight: normal;
}

button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 12px;
	border-radius: 0;
}
