@import "/global.css";

:host {
	display: none;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
}

:host(.open) {
	display: flex;
}

#backdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(2px);
}

#dialog {
	position: relative;
	overflow: hidden;

	background: white;
	box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.2);
	border-radius: var(--panel-radius);
}

h1 {
	margin: 0;
	padding: 10px 20px;
	font-size: 1.4rem;
	font-weight: normal;
}

button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 12px;
	border-radius: 0;
}
