@import "/global.css";

form {
	display: grid;
	grid-template-columns: auto 1fr;

	grid-template-areas:
			"  icon  attrs  "
			"actions actions";

	gap: 20px;
	padding: 20px;
}

#icon-group {
	grid-area: icon;
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: center;
}

#icon-box {
	margin: 10px 20px;
	padding: 16px;

	border-radius: var(--panel-radius);
	background: var(--color-bg-3);
	box-shadow: 0 3px 8px rgba(9, 32, 77, 0.12), 0 0 2px rgba(29, 17, 51, 0.2);
}

#favicon {
	display: block;
	width: var(--shortcut-icon-size);
	height: var(--shortcut-icon-size);
	border-radius: 4px;
}

#field-group {
	grid-area: attrs;
	display: flex;
	gap: 10px;
	flex-direction: column;
}

label {
	font-size: 0.875em;
}

input {
	display: block;
	margin-top: 5px;
	padding: 6px;
	width: 280px;
	font-size: 1rem;

	border-radius: 4px;
	border: solid 1px var(--color-split-line);
}

#actions {
	grid-area: actions;
	justify-self: right;

	& > button {
		margin-left: 10px;
	}
}
