@import "/global.css";

form {
	display: grid;
	grid-template-columns: auto 1fr;

	grid-template-areas:
			"  icon  attrs  "
			"actions actions";

	gap: 20px;
	padding: 20px;
}

#icon-group {
	grid-area: icon;
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: center;
}

.shortcut-icon {
	margin: 10px 20px;
}

#favicon {
	display: block;
	width: var(--shortcut-icon-size);
	height: var(--shortcut-icon-size);
	border-radius: 4px;
}

#field-group {
	grid-area: attrs;
	display: flex;
	gap: 10px;
	flex-direction: column;
}

label {
	font-size: 0.875em;
}

input {
	width: 280px;
	margin-top: 5px;
}

#actions {
	grid-area: actions;
	justify-self: right;

	& > button {
		margin-left: 10px;
	}
}
