@import "/global.css";

/* 已经有 PageUp、PageDown 切换引擎了，不再设置高亮效果 */
:host {
	display: block;
}

#container {
	display: flex;
	gap: 15px;
}

img {
	width: 32px;
	height: 32px;
}

button {
	/* 图标可能是方形的，不能搞成圆形按钮 */
	border-radius: 8px;

	line-height: 0;
	overflow: hidden;
	box-shadow: 0 8px 8px rgba(9, 32, 77, 0.12), 0 2px 2px rgba(29, 17, 51, 0.12);

	/* 懒得写伪类了，直接强制清除交互样式 */
	background: var(--color-bg-3) !important;

	&.active {
		box-shadow: var(--block-focus-shadow);
	}
}
