@import "/global.css";

$item-padding: 8px;

:host {
	position: relative;
	display: flex;
	padding: 0;
	height: 52px;

	background: var(--color-bg-2t);

	border: none;
	border-radius: var(--panel-radius);

	box-shadow:
			0 3px 8px rgba(9, 32, 77, 0.12),
			0 0 2px rgba(29, 17, 51, 0.12);
}

/* For Chromium-based browsers */
:host(:focus-visible) {
	outline: none;
}

/*
 * The display of the suggestion list is controlled by two variables,
  which are displayed only when both are present.

 * 1）.suggested 	Set after suggestions fetched and removed when the input box is empty.
 * 2）:focus		The focus state of this element, removed when focus is lost.
 */
:host(.suggested:focus) {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;

	& > ul:not(:empty) {
		display: block;
	}

	& > ul:empty + output {
		display: block;
	}

	& > #button {
		border-bottom-right-radius: 0;
	}
}

/* Show focus highlight only if no suggestions */
:host(:not(.suggested):focus) {
	box-shadow: var(--block-focus-shadow);
}

img {
	width: 24px;
	height: 24px;
	margin: 14px;
}

input {
	flex: 1;
	font-size: 1rem;
	border: 0;
	padding: 0;
	background: none;

	&:focus-visible {
		outline: none;
	}
}

#button {
	padding: 14px;
	border-radius: 0 var(--panel-radius) var(--panel-radius) 0;
}

ul, output {
	list-style: none;
	display: none;

	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 10;
	overflow: hidden;

	margin: 0;
	padding: 0;
	background: var(--color-bg-2t);

	border-radius: 0 0 var(--panel-radius) var(--panel-radius);

	border-top: solid 1px var(--color-split-line);
	box-shadow:
			0 8px 8px rgba(9, 32, 77, 0.12),
			0 2px 2px rgba(29, 17, 51, 0.12);
}

output {
	display: none;
	padding: $item-padding;
	text-align: center;
	color: var(--color-placeholder);
}

li {
	padding: $item-padding;
	cursor: pointer;

	&.active,
	&:hover,
	&:focus-visible {
		background: rgba(195, 195, 195, 0.17);
	}
}

#spinner {
	$diameter: 24px;

	display: none;
	position: relative;
	width: 52px;

	&.active {
		display: block;
	}

	&::before {
		content: '';
		position: absolute;
		box-sizing: border-box;

		width: $diameter;
		height: $diameter;
		top: 50%;
		left: 50%;
		margin-top: calc(-$diameter / 2);
		margin-left: calc(-$diameter / 2);

		border-radius: 50%;
		border: 3px solid #ddd;

		/* TODO: variables does not work on FireFox */
		border-top-color: #2ea8ff;

		animation: spinner .6s linear infinite;
	}

	&::after {
		content: '';
		position: absolute;
		top: 12px;
		bottom: 12px;
		right: 0;
		border-left: 1px solid #d2d4d9;
	}
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}
