@import "/global.css";

div {
	display: flex;
}

ol {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 330px;
	overflow-y: auto;
}

li {
	display: flex;
	gap: 8px;
	align-items: center;

	padding: 10px 10px 10px 20px;
	width: 230px;
	height: 48px;
	font-size: 0.875em;

	cursor: pointer;

	&.active {
		font-weight: bold;
	}
}

img {
	width: 32px;
	height: 32px;
}

span {
	flex: 1;
}

.plain {
	border-radius: 0;
	padding: 2px;
}

form {
	display: grid;
	padding: 0 20px 20px;
	gap: 10px;
	align-items: center;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto 1fr 1fr auto;
}

.group {
	align-items: center;
	gap: 10px;
}

/* Only [name="name"] */
input {
	flex: 1;
}

textarea {
	grid-column: 1/-1;
	place-self: stretch;
	box-sizing: content-box;

	resize: none;
	word-break: break-all;
}

#actions {
	grid-column: 1/-1;
	justify-self: right;

	& > button {
		margin-left: 10px;
	}
}
