@import "/global.css";

div {
	display: flex;
}

section {
	height: 330px;
	margin: 0;
	padding: 0;
	overflow-y: auto;
}

a {
	display: flex;
	gap: 8px;
	align-items: center;

	padding: 10px 10px 10px 20px;
	width: 230px;
	height: 48px;
	font-size: 0.875em;

	cursor: pointer;

	&.active {
		font-weight: bold;
		color: #1d92f2;
	}

	& > button {
		padding: 3px;
		color: #ef6565;
	}
}

img {
	margin-right: auto;
	width: 32px;
	height: 32px;
}

span {
	flex: 1;
}

#new-engine {
	display: flex;
	width: 100%;
	padding: 10px;
}

form {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto 1fr 1fr auto;
	gap: 10px;
	align-items: center;
	padding: 0 20px 20px;
}

.group {
	align-items: center;
	gap: 10px;
}

/* Only [name="name"] */
input {
	flex: 1;
}

textarea {
	grid-column: 1/-1;
	place-self: stretch;
	box-sizing: content-box;

	resize: none;
	word-break: break-all;
}

#actions {
	grid-column: 1/-1;
	justify-self: right;

	& > button {
		margin-left: 10px;
	}
}
