@import "/global.css";

$added-color: #00b000;

ul {
	list-style: none;
	width: 700px;
	height: 400px;
	padding: 0;
	overflow: auto;
}

li {
	display: grid;
	column-gap: 12px;
	grid-template-columns: auto 1fr auto;
	grid-template-areas:
			"img title button"
			"img  url  button";

	margin: 12px 20px;
	padding: 12px;
	border: solid 1px var(--color-split-line);
	border-radius: var(--panel-radius);
}

.added {
	border-color: $added-color;
}

img {
	grid-area: img;
	width: 48px;
	height: 48px;
	border-radius: 4px;
}

button {
	grid-area: button;
	align-self: center;

	.added > & {
		color: $added-color;
		background: none;
		pointer-events: none;
	}
}

span {
	align-self: center;
}

.url {
	font-family: consolas, monospace;
	font-size: 14px;
	color: var(--color-minor);
}
