@import "/global.css";

$added-color: #00a600;

ul {
	width: 700px;
	height: 400px;
	padding: 0;
	overflow: auto;
}

li {
	list-style: none;
	display: grid;
	column-gap: 12px;
	grid-template-columns: auto 1fr auto;

	grid-template-areas:
			"img title button"
			"img  url  button";

	margin: 12px 20px;
	padding: 12px;
	border: solid 1px #ddd;
	border-radius: var(--panel-radius);
}

.added {
	border-color: $added-color;
}

img {
	grid-area: img;
	width: 48px;
	height: 48px;
}

/** 窗口足够宽，更长的就不显示了 */
span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

button {
	grid-area: button;
	align-self: center;

	.added > & {
		color: $added-color;
		background: none;
		pointer-events: none;
	}
}

.url {
	font-size: 14px;
	color: #767779;
}
