/*
 * https://www.userchrome.org/
 * Copy this stylesheet to <profile>/chrome folder to restore old tab style.
 */

:root {
	--chrome-content-separator-color: #ddd !important;
	--tab-block-margin: 0 !important;
	--tab-border-radius: 0 !important;
	--proton-tab-block-margin: 0px !important;
}

.tabbrowser-tab {
	padding-inline: 0 !important;
}

.tab-background[multiselected="true"],
.tab-background[selected="true"] {
	background-color: var(--toolbar-bgcolor) !important;
}
