@import "/global.css";

form {
	display: grid;
	gap: 20px;
	grid-template-areas: "icon attrs" "actions actions";
	grid-template-columns: auto 1fr;
	padding: 20px;
}

#icon-group {
	grid-area: icon;
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;
}

#icon-box {
	margin: 10px 20px;
	padding: 16px;
	border-radius: var(--panel-radius);
	background: white;
	box-shadow: 0 3px 8px rgba(9, 32, 77, 0.12), 0 0 2px rgba(29, 17, 51, 0.2);
}

#favicon {
	display: block;
	width: var(--shortcut-icon-size);
	height: var(--shortcut-icon-size);
}

#field-group {
	grid-area: attrs;
	display: flex;
	gap: 10px;
	flex-direction: column;
}

label {
	font-size: 0.875em;
}

input {
	display: block;
	margin-top: 5px;
	font-size: 1rem;
	padding: 6px;
	width: 280px;
	border-radius: 4px;
	border: solid 1px #ccc
}

#actions {
	grid-area: actions;
	justify-self: right;

	& > button {
		margin-left: 10px;
	}
}

/*
 * Tree dots loading animation, copied from:
 * https://github.com/nzbin/three-dots
 */
.dot-flashing {
	$animation-time: 0.8s;
	--color: #004bff;

	&::before, &::after {
		content: "";
		display: inline-block;

		width: 10px;
		height: 10px;

		border-radius: 100%;
		background-color: var(--color);
	}

	&::before {
		animation: dotFlashing $animation-time infinite alternate;
	}

	&::after {
		animation: dotFlashing $animation-time $animation-time infinite alternate;
	}
}

.middle {
	display: inline-block;
	margin: 0 5px;
	width: 10px;
	height: 10px;

	border-radius: 100%;
	background-color: var(--color);

	animation: dotFlashing $animation-time calc($animation-time / 2) infinite linear alternate;
}

@keyframes dotFlashing {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.1;
	}
}
