@import "/global.css";

$added-color: #00a600;

ul {
	width: 700px;
	height: 400px;
	padding: 0;
	overflow: auto;
}

li {
	list-style: none;
	display: grid;
	column-gap: 12px;
	grid-template-areas: "img title button" "img url button";
	grid-template-columns: auto 1fr auto;

	margin: 12px 20px;
	padding: 12px;
	border: solid 1px #ddd;
	border-radius: 8px;
}

.added {
	border-color: $added-color;
}

img {
	grid-area: img;
	width: 48px;
	height: 48px;
}

span {
	text-overflow: ellipsis;
}

button {
	grid-area: button;
	align-self: center;

	.added > & {
		color: $added-color;
		background: none;
		pointer-events: none;
	}
}
